body {
  height: 100%;
  margin: 0 auto;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

footer {
  bottom: 0;
  text-align: center;
  color: rgba(254, 254, 254, 0.564);
}
h3 {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.398);
  width: 600px;
}
.bg-image {
  background-image: url(image/back.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.container {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.47);
  border-radius: 100% 100% 0 0;
  border: 3px solid rgba(238, 236, 236, 0);
  max-width: 900px;
  margin-top: 30px;
}

.middle {
  display: block;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.47);
  max-width: 900px;
}
.containerOne {
  background-color: rgba(249, 246, 246, 0.192);
  margin: 60px;
}
.portfolioImage {
  margin-top: 50px;
}
.aboutMe {
  text-align: start;
  padding-top: 200px;
  padding-left: 100px;
  color: rgb(238, 236, 236);
  line-height: 1.9;
  font-size: 20px;
}
.name {
  font-size: 55px;
}
.section {
  position: relative;
}
.section img {
  position: absolute;
  left: 50px;
  margin-top: 50px;
}
.top {
  animation-name: fade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-direction: alternate;
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.parograf {
  color: rgb(238, 236, 236);
  text-align: start;
  padding: 20px;
  line-height: 1.8;
  letter-spacing: 1.5px;
}
.hello {
  font-size: 30px;
}
.hide {
  display: none;
}
.newBorder {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
.newBorder:hover {
  transition: all 0.8s;
  border: 1px solid rgba(238, 236, 236, 0.272);
  box-shadow: rgba(198, 198, 198, 0.48) 6px 2px 16px 0px,
    rgba(113, 110, 110, 0.8) -6px -2px 16px 0px;
  width: 330px;
}
.addText:hover + .hide {
  display: block;
  color: rgb(238, 236, 236);
  background-image: url(image/dictionary.png);
}

.contact {
  text-align: center;
  padding: 30px;
  margin-top: 90px;
}
.link {
  background-color: rgba(249, 246, 246, 0.192);
  border: 1px solid rgb(238, 236, 236);
  margin: 10px;
}
.project .projectName {
  color: rgb(247, 250, 250);
}
.card-1 {
  background: url("image/dictionary.png");
  background-repeat: no-repeat;
  background-size: 400px 300px;
  width: 400px;
  height: 300px;
  border: 1px solid rgb(171, 170, 170);
}
.card-1:hover {
  background: url("image/dictionary-image.png");
  background-repeat: no-repeat;
  background-size: 400px 300px;
  width: 400px;
  height: 300px;
}
.card-2 {
  background: url("image/world-clock.png");
  background-repeat: no-repeat;
  background-size: 400px 300px;
  width: 400px;
  height: 300px;
  border: 1px solid rgb(171, 170, 170);
}
.card-2:hover {
  background: url("image/clock.png");
  background-repeat: no-repeat;
  background-size: 400px 300px;
  width: 400px;
  height: 300px;
}
.card-3 {
  background: url("image/react-weather.png");
  background-repeat: no-repeat;
  background-size: 400px 300px;
  width: 400px;
  height: 300px;
  border: 1px solid rgb(171, 170, 170);
}
.card-3:hover {
  background: url("image/weather.png");
  background-repeat: no-repeat;
  background-size: 400px 300px;
  width: 400px;
  height: 300px;
}
.card-4 {
  background: url("image/fil-director.png");
  background-repeat: no-repeat;
  background-size: 400px 300px;
  width: 400px;
  height: 300px;
  border: 1px solid rgb(171, 170, 170);
}
.card-4:hover {
  background: url("image/film.png");
  background-repeat: no-repeat;
  background-size: 400px 300px;
  width: 400px;
  height: 300px;
}
.card-5 {
  background: url("image/weather\ copy.png");
  background-repeat: no-repeat;
  background-size: 400px 300px;
  width: 400px;
  height: 300px;
  border: 1px solid rgb(171, 170, 170);
}

.card-5:hover {
  background: url("image/cloud.png");
  background-repeat: no-repeat;
  background-size: 400px 300px;
  width: 400px;
  height: 300px;
}
.email-footer {
  color: white;
}
.intro {
  letter-spacing: 1px;
  font-size: 20px;
}
.certifiates .first {
  text-align: end;
}
.certifiates .second {
  text-align: start;
}
.bottom p {
  position: absolute;
  bottom: -1px;
  left: 28%;
  margin: 0;
}
.function {
  list-style: none;
  margin: 5px;
  padding: 10px;
  max-width: 200px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.401);
  text-align: center;
}
.function-1 {
  list-style: none;
  margin: 5px;
  padding: 10px;
  max-width: 80px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.401);
  text-align: center;
}
.tools {
  color: rgb(212, 212, 212);
  text-align: center;
}
.list {
  padding: 0px;
}
.add {
  margin-left: 150px;
}
